header.main {
    display: flex;
    justify-content: space-between;
    direction: ltr;
    align-items: center;
    padding: 4px 8px;
    color: #333;
    min-height: 56px;
}

header.main h1 {
    font-family: "Open-Sans-Light", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 8px;
    user-select: none;
}

header.main button {
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 8px;
}

header.main button img {
    width: 24px;
    height: 24px;
    position: relative;
}

header.main button:hover img {
    transform: scale(1.2);
}