header.main {
    justify-content: space-between;
    direction: ltr;
    font-family: "Open-Sans-Light", sans-serif;
    width: 100%;
    display: flex;
    padding-inline: 1rem;
    box-sizing: border-box;
    color: "#262626";
}

header.main h1 {
    font-size: 2rem;
    font-weight: normal;
}


header.main button {
    border: none;
    background-color: transparent;
    margin-block: auto;
}

header.main button img {
    height:2rem;
    box-sizing: border-box;
    margin: auto;
    margin-block: 5px;
    max-width: none;
    display: block;
}