section.hero {
    display: flex;
    align-items: center;
    padding: 36px 0;
    gap: 16px;
    align-self: center;
    justify-self: center;
}

section.hero div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

section.hero div h2 {
    font-family: "Open-Sans", sans-serif;
    font-size: 14px;
    margin: 8px 16px;
}

section.hero button {
    width: 62px;
    height: 62px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
}

section.hero div:first-child button {
    background-color: #0bb97c;
} 

section.hero div:last-child button {
    background-color: #eaeaec;
    color: #2b2b41
}

section.hero div:nth-child(2) button {
    background-color: #f4c7b9;
}

section.hero button img {
    position: relative;
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 100px 0 #fff);
        transform: translateY(-100px);
}

section.hero div:last-child button img {
    filter: drop-shadow(0px 100px 0 #2b2b41);
}

section.hero div:nth-child(2) button img {
    filter: drop-shadow(0px 100px 0 #d28068);
}