@font-face {
    font-family: "Open-Sans";
    src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open-Sans-Bold";
    src: url("./assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Open-Sans-Light";
    src: url("./assets/fonts/OpenSans-Light.ttf");
}

#app {
    position: relative;
    font-family: "Open Sans", sans-serif;
    background-color: #fefefe;
    box-sizing: border-box;
}