@font-face {
    font-family: "Open-Sans";
    src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open-Sans-Bold";
    src: url("./assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Open-Sans-Light";
    src: url("./assets/fonts/OpenSans-Light.ttf");
}

#app {
    font-family: "Open-Sans", sans-serif;
    font-size: 1rem!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
}

header, main, footer {
    display: flex;
}

header img {
    max-width: 200px;
    margin: 50px auto 30px auto;
    display: block;
}

main {
    color: #9e6a56;
    padding: 0 24px;
    text-align: center;
}

footer {
    gap: 15px;
}

footer a {
    font-size: 2rem;
    padding: 12px 24px;
    color: #7b8c98;
}

footer a:hover {
    color: #9e6a56;
}