#app {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    background-color: #e2e7eb;
}

header, main, footer {
    display: flex;
}

header img {
    max-width: 200px;
    margin: 50px auto 30px auto;
    display: block;
}

main {
    color: #9e6a56;
    padding: 0 24px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

footer {
    gap: 15px;
}

footer a {
    font-size: 2rem;
    padding: 12px 24px;
    color: #7b8c98;
}

footer a:hover {
    color: #9e6a56;
}