html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: 'hidden';
}

#app * {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(100%);
}

main {
    display: flex;
    flex-direction: column;
}

/* For Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Remove default styling */
    margin: 0;
    /* Remove margin */
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
    /* Remove default styling */
}

/* General styling for all browsers */
input[type=number] {
    appearance: none;
    /* Remove default styling */
}

.successButton {
    color: #28a745;
}

.successButton:disabled {
    color: #999999;
}

/* Global scrollbar styles for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: thin;
    /* Vertical scrollbar width */
    height: thin;
    /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
    background: red;
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: red;
    /* Thumb color on hover */
}

::-webkit-scrollbar-track {
    background: red;
    /* Scrollbar track color */
}

/* Global scrollbar styles for Firefox */
html {
    scrollbar-width: thin;
    /* Options: auto, thin */
    scrollbar-color: #ffcc00 #000;
    /* thumb color, track color */
}