name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches:
      - main  # Change to your default branch if different
      - dev
  pull_request:
    branches:
      - main  # Change to your default branch if different
      - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]  # Specify the Node.js versions you want to test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build the project
        run: npm run build
        env: 
            BASE_URL: /${{ github.event.repository.name }}/

      - name: Add .nojekyll file
        run: |
          touch dist/.nojekyll
          ls -la dist

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: production-files-node-${{ matrix.node-version }}-${{ github.run_id }}
          path: ./dist
          retention-days: 1

  deploy:
        name: Deploy
        needs: build
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'

        steps:
            - name: Debug info
              run: |
                echo "GitHub ref: ${{ github.ref }}"
                echo "Event name: ${{ github.event_name }}"
                echo "Default branch: ${{ github.event.repository.default_branch }}"

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: production-files-node-18-${{ github.run_id }}
                  path: ./dist

            - name: Deploy to GitHub Pages
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                branch: gh-pages
                folder: dist
                clean: true,